@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
    background-color: #ecffc8;
    color: white;
    margin: 0px;
    width: 100%;
}


#head{
    height: 650px;
    width: 100%;
    background-image: url(imagens/imagem\ de\ fundo.png);
    background-repeat: no-repeat;
    background-size: cover;    
    margin: 0px 0px 0px 0px;
}

li{
    display: inline;
    margin-left: 50px;
}

.varejo > a:hover{
    background-color: #29af34;
    color: white;
    border-radius: 30px;
    transition: 1s;
    box-shadow: 2px 3px 5px black;
}

.curiosidades > a:hover{
    background-color: #29af34;
    color: white;
    border-radius: 30px;
    transition: 1s;
    box-shadow: 2px 3px 5px black;
}

.escolas > a:hover{
    background-color: #29af34;
    color: white;
    border-radius: 30px;
    transition: 1s;
    box-shadow: 2px 3px 5px black;
}

.local > a:hover{
    background-color: #29af34;
    color: white;
    border-radius: 30px;
    transition: 1s;
    box-shadow: 2px 3px 5px black;
}

.login{
    background-color: #1a5c00;
    border-radius: 30px;
    padding: 10px 10px 0px 10px;
    height: 30px;
    position: absolute;
    top:40px;
    left: 1160px;
}

.menu > a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

ul{
    margin-inline-start: 0px;
    margin-top: 0px;
    padding-top: 50px;
    padding-left: 100px;    
    display: flex;
}

ul > img{
    height: 70px;
    position: relative;
    left: 0px;
    top: -30px;
}

#box{
    position: relative;
    top: 40px;
    left: 40px;
    background-color: rgb(241, 250, 239);
    color: rgb(24, 104, 13);
    width: 400px;
    height: 400px;
}

h1{
    padding-top: 20px;
    padding-left: 20px;
    width: 370px;
    height: 200px;
    font-size: 45px;
    font-family: 'Majoris';
}

#box > p{
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#box > a{
    margin-left: 20px;
    margin-top: 10px;
    padding: 10px 20px 15px 20px;
    border-radius: 100px;
    border: 1px;
    color: #29af34;
    background-color: #e0f5b7;
    text-decoration: none;
    font-weight: 600;
}


#box > a:hover{
    transition: .5s;
    box-shadow: 2px 1px 10px rgb(194, 194, 194);
}


@font-face {
    font-family: 'Majoris';
    src: url(Majoris.ttf)
}


#sobre{
    font-size: 15px;
    font-family: 'Majoris';
    color: #29af34;
}

#hist{
    margin-left: 20px;
    padding-left: 20px;
    width: 700px;
    height: 400px;
}

#hist > h2{
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 0px;
    font-size: 45px;
    font-family: 'Majoris';
    color: #87af29;
}

#hist > p{
    color: black;
    text-align: justify;
}

a{
    color: rgb(64, 78, 0);
    text-decoration: none;
    font-weight: bold;   
    text-decoration: underline; 
}

#hist > #um{
    border-radius: 1000px;
    width: 300px;
    height: 300px;
    left: 800px;
    top: -300px;
    position: relative;
    box-shadow: 4px 5px rgb(118, 206, 17);
}

#dois{
    width: 60px;
    height: 60px;
    left: 780px;
    top: -300px;
    position: relative;
    border-radius: 1000px;
    opacity: 20%;
}

#tres{
    width: 40px;
    height: 40px;
    left: 780px;
    top: -320px;
    position: relative;
    border-radius: 1000px;
}

#quatro{
    width: 70px;
    height: 70px;
    left: 700px;
    top: -360px;
    position: relative;
    border-radius: 1000px;
    opacity: 50%;
}

#caract{
    background-color: #87af29;
    width: 100%;
    height: 650px;
}

#caract > h2{
    padding-top: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding-left: 20px;
    font-size: 45px;
    font-family: 'Majoris';
    color: #c3db58;
}

#caract > p{
    color: beige;
    text-align: justify;
    width: 500px;
    display: inline-block;
    width: 600px;
}

#caract > #p2 {
    float: right;
    padding-right: 20px;
    margin-right: 20px;
}

#caract > #p1 {
    float: left;
    padding-left: 20px;
    margin-left: 20px;
}

#caract > #img1{
    position: relative;
    left: -550px;
    top: -20px;
    width: 500px;
}

#caract > #img2{
    position: relative;
    left: 750px;
    top: -340px;
    width: 500px;;
}


#demo{
    width: 100%;
    height: 580px;
    margin-left: 20px;
    padding-left: 20px;
}

#demo > h2{
    padding-top: 40px;
    margin-top: 30px;
    margin-bottom: 100px;
    font-size: 45px;
    font-family: 'Majoris';
    color: #86a011;
}

#demo > p{
    color: rgb(64, 78, 0);
    text-align: justify;
    width: 500px;
    width: 600px;
}

#demo > #circulo{
    opacity: 50%;
    width: 500px;
    position: relative;
    left: 250px;
    top: -300px
}

#demo > #circulo1{
    opacity: 80%;
    width: 200px;
    position: relative;
    left: 100px;
    top: -620px
}


#demo > #grafico{
    width: 500px;
    position: relative;
    left: 700px;
    top: -400px
}

/*Footer*/

footer{
    background-color: rgb(81, 123, 13, 1);
    margin-top: 0px;
    padding: 50px 100px 70px 200px;
}

#espaço1{
    height: 100px;
}

th{
    text-align: left;
}

#espaço2{
    width: 600px;
}

footer img{
    height: 30px;
    margin-top: 10px;
}

footer div{
    position: absolute;
    left: 810px;
}